{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="card card-detail">
  <div class="card-image">
    <figure class="image">
      {% if  art.photo_set.all %}
      {% for photo in art.photo_set.all %}
      <img src="{{ photo.url }}" alt="{{art.description}}">
      {% endfor %}
      {% else %}
      <form 
      class="card-panel"
      action="{% url 'add_photo' art.id %}"
      method="POST"
      enctype="multipart/form-data" 
  >
      {% csrf_token %}
      <input type="file" name="photo-file" />
      <br/><br/>
      <input type="submit" class="btn" value="Upload Photo"/>
  </form>
      {% endif %}
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">{{art.title}}</p>
        <p class="subtitle is-6">{{art.author}}</p>
      </div>
    </div>

    <div class="content">
       <i> {{art.comment}}</i>
       <hr>
      {{art.method}}
      <br>
    </div>
  </div>
  <div class="card-footer">
    <a href="{% url 'arts_update' art.id %}" class="button card-footer-item">Edit</a>
    <a href="{% url 'arts_delete' art.id %}" class="button card-footer-item">Delete</a>
</div>
</div>
{% endblock %}