{% extends 'base.html' %}
{% block content %}
{% load static %}
    <h1 class="subtitle is-3">Art Gallery</h1>

    {% for art in arts %}
        <div class="card card-index">
  <div class="card-image">
    <figure class="image">
      <a href="/arts/{{ art.id }}"><img src="{% static '/arts/' %}{{ art.file  }}" alt="{{art.description}}"></a>
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">{{art.title}}</p>
        <p class="subtitle is-6">{{art.author}}</p>
      </div>
    </div>

    <div class="content">
       <i> {{art.comment}}</i>
       <hr>
      {{art.method}}
      <br>
    </div>
  </div>
</div>
    {% endfor %}
{% endblock %}