{% extends 'base.html' %}
{% block   content %}

<h1 class="title is-1 has-text-light">About Xketchez</h1>
<p class="is-5 has-text-light">What if I tell you that sketches can be art too?<br>
    In Xketchez you can show your artistic talent in a matter of minutes. Pick the first pen and paper you can find, make a quick drawing, follow your instinct (you don't need to put too much effort in it tho...), share it with the world and watch it becoming part of a high-class, luxurious, snob and (not so) eXclusive art gallery.
    Describe to the world what powerful emotions you felt in all those 3 minutes of drawing. Browse other artists' masterpieces, grace them with a like and add them to your favorites list if you really like them.
    <br><br>
    
    With Xketchez you can show the world that anything can be art (even sketches) and anyone can be an artist (even YOU).</p>

{% endblock %}