{% extends 'base.html' %}
{% block   content %}
<div class="container px-5 has-text-centered">
<h1 class="title is-3 has-text-light">About <span class="xketchez title is-1 has-text-white-ter"> <span class="X">X</span>ketchez</span></h1>
<p class="is-5 has-text-light">What if I tell you that sketches can be art too?<br>
    In <span class="xketchez has-text-white-ter subtitle"> <span class="X">X</span>ketchez</span> you can show your artistic talent in a matter of minutes. Pick the first pen and paper you can find, make a quick drawing, follow your instinct (you don't need to put too much effort in it tho...), share it with the world and watch it becoming part of a high-class, luxurious, snob and (not so) eXclusive art gallery.
    Describe to the world what powerful emotions you felt in all those 3 minutes of drawing. Browse other artists' masterpieces, grace them with a like and add them to your favorites list if you really like them.
    <br><br>
    
    With <span class="xketchez has-text-white-ter subtitle"> <span class="X">X</span>ketchez</span> you can show the world that anything can be art (even sketches) and anyone can be an artist (even YOU).</p>
</div>
{% endblock %}