{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% include 'head.html' %}
</head>

<body>
  <header>
    {% include 'navbar.html' %}
  </header>
  <div id="block" style="height: 66px ; background-color: black;">  </div>
  <main>
    <section class="container p-5">
    {% block content %}
    {% endblock %}
  </section>
  </main>
  <footer>
    {% include 'footer.html' %}
  </footer>

  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
    
    // Get all "navbar-burger" elements
    const navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
    
    // Check if there are any navbar burgers
    if (navbarBurgers.length > 0) {
    
      // Add a click event on each of them
      navbarBurgers.forEach( el => {
        el.addEventListener('click', () => {
    
          const idTarget = el.dataset.target;
          const target = document.getElementById(idTarget);
          console.log(navbarBurgers, idTarget, target)
          el.classList.toggle('is-active');
          target.classList.toggle('is-active');
    
        });
      });
    }
    
    });
    </script>
</body>

</html>