{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xketchez</title>
    <link 
    rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css" 
    integrity="sha512-HqxHUkJM0SYcbvxUw5P60SzdOTy/QVwA1JJrvaXJv4q7lmbDZCmZaqz01UPOaQveoxfYRv1tHozWGPMcuTBuvQ==" 
    crossorigin="anonymous" 
    referrerpolicy="no-referrer" 
    />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
    <nav class="navbar  has-background-grey-darker has-text-white-ter" role='navigation' aria-label="main navigation">
<div class="navbar-brand subtitle is-3">
    <a href="/" class="navbar-item has-text-white-ter">Xketchez</a>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
</div>
<div class="navbar-menu has-text-white-ter">
  {% if user.is_authenticated %}
      <a class="navbar-item has-text-white-ter" href="{% url 'about' %}">
        About
      </a>
      <a class="navbar-item has-text-white-ter" href="{% url 'index' %}">
        Art Gallery
      </a>
      <a class="navbar-item has-text-white-ter" href="{% url 'art_create' %}">
        Post Art
      </a>
      <a class="navbar-item has-text-white-ter" href="{% url 'logout' %}">
        Log Out
      </a>
      {% else %}
      <div>{{ user.name }}</div>
      <a class="navbar-item has-text-white-ter" href="{% url 'signup' %}"> Sign Up</a>
      <a class="navbar-item has-text-white-ter" href="{% url 'login' %}"> Log In</a>
      {% endif %}
    
</div>
</nav>

</header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
<footer class="footer has-background-grey-darker">
    <div class="content has-text-right"> <p> All rights reserved, &copy; 2023 Xketchez &nbsp;</p></div>
</footer>

</body>
</html>