* {
  font-family: Helvetica, Arial;
}

.xketchez {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700;
  font-style: italic;
}
label[for="id_text"]{
  display:none
}

#id_text{
height: 40px;
margin-right: 2px;
}

.X {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700;
  font-style: italic;
  color: goldenrod;

}


.footer {
  height: 10px;
  padding: 20px;
  padding-bottom: 50px
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  background-color: black;
}

.card-image {
  /* border: 10px solid black; */
  /* max-height: fit-content; */
  height: 100%;
}
.card-frame{
  /* background-color: black;  */
  /* background-image: linear-gradient(black, rgb(183, 183, 183)); */
  /* border: 10px solid goldenrod; */
  border-radius: 0;
}
.navbar-item:hover {
  color: black;
}
.index-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(auto, 250px); */
}
.card-index {
  /* max-width: 30%; */
  width: 100%;
  margin: 10px;
  padding: .5rem;
  background-color: black;
}

.card-detail {
  /* width: 60%; */
  height: auto;
  width: auto;
  border: 10px solid goldenrod;
}

.card > form{
  min-height: 60px;
}

#logged-user{
  color: goldenrod;
  pointer-events: none;
  border: 2px double goldenrod;
  padding: 5px 16px;
}

.button{
  border-radius: 0;
  border: 2px solid black;
  background-color: rgb(217, 217, 217);
  transition: .5s ease;
  font-weight: 700;
}

.button:hover{
  transition: .5s ease;
  border: 2px solid gray;
  background-color: white;
}

.link-home {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 600;
  font-size:30px;
  font-style: italic;
  color: goldenrod;
  transition: .75s ease;
  border: 0px solid goldenrod;
  padding: 10px 100px;
  opacity: 0;
}
.final-home{
  color: goldenrod;
  transition: 2s ease;
  opacity: 0
}
.link-home-user{
  font-family: 'Cormorant Garamond', serif;
  font-weight: 600;
  font-size:25px;
  margin: 0;
  font-style: italic;
  color: goldenrod;
  transition: .75s ease;
  border: 10px double goldenrod;
  padding: 0px 10px;
  opacity: 0;
}
.link-home:hover {
  color: goldenrod;
  border: 10px double goldenrod
}
.navbar-item{
  transition: .5s ease;
}

main {
  background-color: black;
  flex: 1 0 auto;
}
.index-text{
  text-size-adjust: auto;
  text-align: left;
}
.index-text-title{
  color: black;
  font-weight: 700;
}
.index-text-author{
  color: rgb(37, 37, 37);

}
.home-title{
  text-align: center; 
  font-size: 100px; 
  margin: 50px;
  opacity: 0;
  transition: 3s ease;
}
.button-home{
  font-weight: 500;
}


.home-subtitle{
  text-align: center; 
  font-size: 40px; 
  margin: 50px;
  opacity: 0;
  transition: 3s ease;
  margin-bottom: 0;
}

/* DESKTOP */
@media screen and (min-width: 1023px) {
  .card-index {
    position: relative;
    /* width: 50%; */
    max-width: 23%;
  }
  

  .card-image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .card-content-index {
    background-color: white;
    padding:10px;
    transition: .5s ease;
    width: 100%;
    opacity: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

.user-link{
  
}

  .card-frame:hover .card-image {
    opacity: 0.6;
  }

  .card-frame:hover .card-content-index{
    opacity: 1;
  }
  .card-frame:hover .index-text{
    opacity: 1;
    z-index: 10;
    color: black;
  }

  .container {
    margin-top: 5px;
  }
}


/* MOBILE */
@media screen and (max-width: 1023px) {
  .navbar-menu {
    background-color: rgb(42, 42, 42);
    box-shadow: 0 8px 16px rgb(10 10 10 / 10%);
    padding: 0.5rem 0;
    transition: .5s ease;
  }
  

  .navbar-item,
  .navbar-link {
    color: white;
    display: block;
    line-height: 1.5;
    padding: 0.5rem 0.75rem;
    position: relative;
  }
  .card-index {
    position: relative;
    /* width: 50%; */
    max-width: 25%;
  }

  .card-content-index{
    border-radius: 0;
    background-color: white;
  }
  .card-frame{
    background-color: white; 
    /* border: 10px solid goldenrod; */
    border-radius: 0;
  }
  
  .media-left{
    display: none;
  }
  .home-title{
    font-size: 80px;
  }
  .link-home {
    align-self: left;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    font-size:30px;
    font-style: italic;
    color: goldenrod;
    transition: .75s ease;
    padding: 0 10px;
    margin:0;
    opacity: 0;
    border-right: 10px double goldenrod;
    border-left: 10px double goldenrod;
  }
  .final-home{
    color: goldenrod;
    transition: 2s ease;
    opacity: 0
  }
  .link-home-user{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    font-size:25px;
    margin: 0;
    font-style: italic;
    color: goldenrod;
    transition: .75s ease;
    border: 10px double goldenrod;
    padding: 0px 10px;
    opacity: 0;
    
  }
}